################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitTutorial2/DesignTimeBuild
/.vs/GitTutorial2/v16
/obj
/bin/Debug/netcoreapp3.1
